# macOS
.DS_Store

# Xcode user-specific data
xcuserdata/
*.xcuserstate

# Build products
build/
DerivedData/
.derivedData/
*.profraw
*.profdata

# Swift Package Manager
.build/
Package.resolved
dist/

# App Store Connect private keys
AuthKey_*.p8
